<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование человека</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/subject/{id}(id=${subject.getEducationalDisciplineId()})}" th:object = "${subject}">
    <label for="name">Введите название предмета</label>
    <input type="text" th:field="*{educationalDisciplineName}" id="name"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('educationalDisciplineName')}" th:errors="*{educationalDisciplineName}">Full name error</div>
    <br/>
    <label for="duration">Введите продолжительность лекций предмета</label>
    <input type="text" th:field="*{educationalDisciplineDuration}" id="duration"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('educationalDisciplineDuration')}" th:errors="*{educationalDisciplineDuration}">Full name error</div>
    <br/>

    <label for="maxStudents">Введите максимальное число студентов</label>
    <input type="text" th:field="*{maxStudents}" id="maxStudents"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('maxStudents')}" th:errors="*{maxStudents}">Full name error</div>
    <br/>

    <label for="teacher">Выберите преподователя </label>
    <select th:object="${educationalDiscipline}" th:field="*{recommendedTeacher}" id="teacher">
        <option th:each="recTeacher : ${recTeachers}" th:value="${recTeacher.getTeacherId()}" th:text="${recTeacher.getFio()}">
        </option>
    </select>
        <div style="color: crimson" th:if="${#fields.hasErrors('recommendedTeacher')}" th:errors="*{recommendedTeacher}">Year error</div>

    <input type="submit" value="Создать">


</form>

</body>
</html>