<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование человека</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/group/{id}(id=${group.getGroupId()})}" th:object = "${group}">
    <label for="speciality">Введите специальность</label>
    <input type="text" th:field="*{speciality}" id="speciality"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('speciality')}" th:errors="*{speciality}">Full name error</div>
    <br/>
    <label for="yearOfEntering">Введите год образования этой группы </label>
    <input type="text" th:field="*{yearOfEntering}" id="yearOfEntering"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('yearOfEntering')}" th:errors="*{yearOfEntering}">Year error</div>
    <br/>
    <label for="numberOfStudents">Введите число студентов в группе </label>
    <input type="text" th:field="*{numberOfStudents}" id="numberOfStudents"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('numberOfStudents')}" th:errors="*{numberOfStudents}">Year error</div>
    <br/>
    <input type="submit" value="Создать">
</form>

</body>
</html>