<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Navbar Fragment</title>
</head>
<body>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">ГГУ Скарына</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Распределение
            </a>
            <ul class="dropdown-menu">

              <li><a th:if="${notAllScheduleHasTeacher} == true" style="color: crimson" class="dropdown-item" href="/main/schedule">Нагрузка</a></li>
              <li><a th:if="${notAllScheduleHasTeacher} == false"  class="dropdown-item" href="/main/schedule">Нагрузка</a></li>

              <li><a th:if="${teachersHasOverwork} == true" style="color: crimson" class="dropdown-item" href="/main/schedule_teacher">Нагрузка по преподователям</a></li>
              <li><a th:if="${teachersHasOverwork} == false"  class="dropdown-item" href="/main/schedule_teacher">Нагрузка по преподователям</a></li>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Настройки
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/settings/academic_degree">Преподовательские должности</a></li>
              <li><a class="dropdown-item" href="/settings/teacher">Преподователи</a></li>
              <li><a class="dropdown-item" href="/settings/subject">Дисциплины</a></li>
              <li><a class="dropdown-item" href="/settings/group">Группы студентов</a></li>
              <li><a class="dropdown-item" href="/settings/sub_group">Подгруппы студентов</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</div>
</body>
</html>
