<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="blocks/html/head :: head"></th:block>

</head>
<body>
<th:block th:replace="blocks/html/navbar :: navbar"></th:block>

<div class="container text-center md-5">
    <h4 class="mt-5">Редактирование</h4>
</div>

<div class="ms-4">
    <form th:method="PATCH" th:action="@{/settings/teacher/{id}(id=${teacher.getTeacherId()})}" th:object = "${teacher}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{teacherId}" th:value="${teacher.getTeacherId()}">

        <div class="row g-3">
            <div class="col-md-6">
                <label for="fio" class="form-label">Фамилия Имя Отчество</label>
                <input type="text" th:field="*{fio}" class="form-control" aria-label="Название" id="fio">
                <div style="color: crimson" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}"> error</div>
            </div>
            <div class="col-md-6">
                <label for="workingRate" class="form-label">Рабочая ставка</label>
                <input type="text" th:field="*{workingRate}" class="form-control" aria-label="Название" id="workingRate">
                <div style="color: crimson" th:if="${#fields.hasErrors('workingRate')}" th:errors="*{workingRate}"> error</div>
            </div>
            <div class="col-12">
                <label for="academicDegree" class="form-label">Преподовательская должность</label>

                <select th:object="${teacher}" th:field="*{academicDegree}" id="academicDegree" class="form-select">
                    <option th:each="academicDegree : ${academicDegrees}" th:value="${academicDegree.getAcademicDegreeId()}" th:text="${academicDegree.getAcademicDegreeName()}">
                    </option>
                </select>
            </div>

            <div class="col-12">
                <div class="input-group mb-3">
                    <input type="file" th:object="${imgFile}" name="imgFile" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                </div>

            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Создать</button>
                <a href="/settings/teacher">Вернуться</a>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="blocks/html/scripts :: scripts"></th:block>

</body>
</html>