<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование человека</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/academic_degree/{id}(id=${academicDegree.getAcademicDegreeId()})}" th:object = "${academicDegree}">
    <label for="name">Введите название должности</label>
    <input type="text" th:field="*{academicDegreeName}" id="name"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('academicDegreeName')}" th:errors="*{academicDegreeName}">Full name error</div>
    <br/>
    <label for="workLimit">Введите максимальное число рабочих часов </label>
    <input type="text" th:field="*{workLimit}" id="workLimit"/>
        <div style="color: crimson" th:if="${#fields.hasErrors('workLimit')}" th:errors="*{workLimit}">Year error</div>
    <br/>
    <input type="submit" value="Создать">

</form>

</body>
</html>