<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <th:block th:replace="blocks/html/head :: head"></th:block>
</head>
<body>
    <th:block th:replace="blocks/html/navbar :: navbar"></th:block>

<div class="container text-center md-5">

    <h4 class="mt-5">Редактирование</h4>
</div>
    <br>
    <br>
    <div class="ms-4">
        <form th:method="PATCH" th:action="@{/settings/academic_degree/{id}(id=${academicDegree.getAcademicDegreeId()})}" th:object = "${academicDegree}" class="row g-3">
            <input type="hidden" th:field="*{academicDegreeId}" th:value="${academicDegree.academicDegreeId}">
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Название должности</label>
                <input type="text" class="form-control" id="validationCustom01" th:field="*{academicDegreeName}" required>
                <div style="color: crimson" th:if="${#fields.hasErrors('academicDegreeName')}" th:errors="*{academicDegreeName}">Full name error</div>

            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Временное ограничение</label>
                <input type="text" class="form-control" id="validationCustom02" th:field="*{workLimit}" required>
                <div style="color: crimson" th:if="${#fields.hasErrors('workLimit')}" th:errors="*{workLimit}">Year error</div>

            </div>


            <div class="col-12">
                <button class="btn btn-primary" type="submit">Изменить</button>
                <a href="/settings/academic_degree">Вернуться</a>

            </div>
        </form>
    </div>
    <th:block th:replace="blocks/html/scripts :: scripts"></th:block>
</body>
</html>