<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${subGroup.getSubGroupName() +
       ', Группа: ' + subGroup.getMainGroup()+
       ', Число студентов: ' + subGroup.getNumberOfStudents()}">VALUE</p>

<div th:if="${subjects.isEmpty()}">
    <p>У этой под-группы нет предметов</p>
    <hr/>
</div>

<div th:if="${!subjects.isEmpty()}">
    <hr/>
    <b>Предметы этой под-группы: </b>
    <br/>
    <table th:each="subject : ${subjects}">
        <tr>
            <td>
                <span th:text="${subject.getEducationalDisciplineName()}">
<!--                      th:style="${book.isExpired()} ? 'color : red' : 'color : black'">-->

                </span>
            </td>
        <tr/>

    </table>
    <hr/>
</div>

<form th:method="DELETE" th:action="@{/sub_group/{id}(id=${subGroup.getSubGroupOfStudentId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>